<div class="container form-container" id="add-record">
    <div class="card-content">
        <details>
            <summary class="teal btn right floating"><span> Add intervention record</span></summary>
            <form action="/record/createRecord/<%= student._id %>" method="POST">
                <span class="lead centered">Entering new record for <%= student.firstName %> <%= student.lastName %></span>
                    <div class="input-field">
                        <select id="title" name="title" class="form-control" placeholder="title" required>
                            <option value="" class="disabled"></option>
                            <% for(let i=0; i<interventions.length; i++) { %>
                            <option value="<%= interventions[i].title %>"><%= interventions[i].title %></option>
                            <% } %>
                        </select>
                        <label>Intervention Title</label>
                    </div>
    </div>
                <div class="row">
                    <label for="activity" class="form-label">Activity</label>
                    <input type="text" class="input-field form-control" id="activity" name="activity">
                </div>
                <div class="row">
                    <label for="duration" class="form-label">Duration</label>
                    <input type="text" class="form-control" id="duration" name="duration">
                </div>
                <div class="row">
                    <div class="col s12">
                        <input type="textarea" class="materialize-textarea" id="anecdotalNotes" name="anecdotalNotes">
                        <label for="anecdotalNotes" class="form-label">Notes</label>
                    </div>
                </div>
            <button type="submit" class="btn btn-teal space-below">Add Intervention</button>
          </form>
          </details>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var sel=document.querySelectorAll('select');
        M.FormSelect.init(sel)
    })
</script>