<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header') -%>
    <body>
    <%- include('partials/navbar') -%>
    <main class="container">
        <h1><%= user.userName %>'s Class</h1>
        <div class="fixed-action-btn click-to-toggle">
            <a class="btn-floating btn-large btn tooltipped green darken-4" data-tooltip="Menu">
              <i class="large material-icons">menu</i>
            </a>
            <ul>
              <!-- Add Student - Modal 1 Trigger -->
              <li>
                <button data-target="modal1" class="btn-floating blue modal-trigger tooltipped" data-tooltip="Add Student">
                  <span><i class="material-icons">person_add</i> Add student</span>
                </button>
              </li>
            </ul>
          </div>

          <!-- Modal Structure -->
            <div id="modal1" class="modal">
            <div class="modal-content">
                <form action="/students/createStudent" method="POST">
                            <div class="input-field">
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" id="firstName" name="firstName">
                            </div>
                            <div class="input-field">
                              <label for="lastName" class="form-label">Last Name</label>
                              <input type="text" id="lastName" name="lastName">
                          </div>
                            <button type="submit" class="btn green darken-4 space-below">Add Student</button>
                </form>
            </div>
        </div>
            </div>
        </div>

        <div class="container">
            <% if (students.length > 0) { %>
                <table class="striped">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Current Intervention</th>
                        <th>Last Intervention Date</th>
                        <th></th>
                    </tr>
                </thead>
                    <tbody>
                        <% for(var i=0; i<students.length; i++) { %>
                            <tr>
                                <td><a href="/students/<%=students[i]._id%>"><%= students[i].firstName %> <%= students[i].lastName %></a></td>
                                <td><a href="/students/<%=students[i]._id%>"></a><%= students[i].records[0].intervention.title %></td>
                                    <td><a href="/students/<%=students[i]._id%>"></a><%= students[i].records[0].date.toLocaleDateString() %></td>
                                    <td> <a href="/students/<%=students[i]._id%>" class="btn indigo btn-small">Profile</a></td>
                                </tr>
                            <% } %>
                    </tbody>
            </table>
           <%} else { %>
            <p>Please add a student to enter intervention data. </p>
            <% } %>
        </div>
        <br>
    </main>
    <%- include('partials/footer') -%>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    M.FloatingActionButton.init(elems, {
        direction: 'left',
        hoverEnabled: false
    });
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    M.Tooltip.init(elems, {
        position: 'top'
    });
  });

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            M.Modal.init(elems, modal1);
        });
    </script>
</body>
</html>