<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
<h1>Dashboard</h1>
<div class="container">
    <a class="teal btn left" href="/students/add"><i class="fa-solid fa-plus"></i><span> Add student</span></a>
    <a class="teal btn left" href="/interventions/add"><i class="fa-solid fa-plus"></i><span> Add intervention</span></a>
</div>
<h2>Current Students</h2>
<% if (students > 0) { %>
    <table class="striped">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Last Intervention Date</th>
                <th>Current Intervention</th>
                <th></th>
            </tr>
        </thead>
            <tbody>
                <% for(var i=0; i<students.length; i++) { %>
                    <tr>
                        <td><%= students.firstName %> <% students.lastName %></td>
                        <td><%= interventionRecord.date %></td>
                        <td><%= interventionRecord.title %></td>
                        <td></td>
                    </tr>
                 <% } %>
            </tbody>
    </table>
    <%} else { %>
    <p>Please add a student to enter intervention data. </p>
    <% } %>


<%- include('partials/footer') -%>