<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
<h1>Interventions</h1>
<div class="container">
<%- include('partials/addintervention') -%>
</div>
    <table class="striped">
       <thead>
           <tr>
               <th>Intervention Title</th>
               <th>Source</th>
               <th>Target Area</th>
               <th></th>
           </tr>
       </thead>
           <tbody>
               <% for(var i=0; i<interventions.length; i++) { %>
                   <tr>
                    <td><%= interventions[i].title %></td>
                    <td><%= interventions[i].source %></td>
                    <td><%= interventions[i].targetArea %></td>
                        <td></td>
                   </tr>
                <% } %>
           </tbody>
   </table>

<%- include('partials/footer') -%>