<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
<h1><%= user.userName %>'s Class</h1>
<div class="container">
<%- include('partials/addstudent') -%>
    <a class="teal btn left" href="/interventions/add"><i class="fa-solid fa-plus"></i><span> Add intervention</span></a>
</div>

<%- include('partials/footer') -%>