<%- include('partials/header') -%>
<h3>Enter Intervention Data</h3>
<!--<div class="row">
    <form action="/interventionrecords" method="POST" class="col s12">
        <div class="row">
            <select id="title" name="title">
                <% for(var i=0; i < interventions.length; i++) { %>
                <option value="<%= interventions[i].title %>"><%= interventions[i].title %></option>
-            </select>
        </div>

        <div class="row">
            STUDENT
            <select id="title" name="title">
                <% for(var i=0; i < interventions.length; i++) { %>
                <option value="<%= interventions[i].title %>"><%= interventions[i].title %></option>
-            </select>

        <div class="row">
            <div class="input-field">
                <input type="text" id="activity" name="activity">
                <label for="activity">Acrtivity or Lesson #</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Notes:</h5>
                <textarea id="notes" name="notes"></textarea>
            </div>
        </div>

        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>-->
<%- include('partials/footer') -%>