<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<h1>Current Students</h1>
<div class="row">
    <% if (students.length > 0) { %>
        <table class="striped">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th></th>
                </tr>
            </thead>
                <tbody>
                    <% for(var i=0; i<students.length; i++) { %>
                        <tr>
                            <td><%= students[i].firstName %> <%= students[i].lastName %></td>
                            <td></td>
                        </tr>
                     <% } %>
                </tbody>
        </table>
        <%} else { %>
        <p>Please add a student to enter intervention data. </p>
        <% } %>
</div>
<%- include('../partials/footer') -%>